# U.S. Medical Insurance Costs

## Necessary imports and setup

In [21]:
import pandas as pd
from scipy import stats
from matplotlib import pyplot as plt
print('Ready')

Ready

In [3]:
df = pd.read_csv('insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

Dataset contains 7 columns:
- age
- sex 
- bmi
- children
- smoker 
- region
- charges

In [8]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [32]:
print('Total records', len(df))

Total records 1338

# Male and Female

In [7]:
male_df = df[df['sex'] == 'male']
female_df = df[df['sex'] == 'female']

In [31]:
male_records = len(male_df)
female_records = len(female_df)

print("Male records:", male_records)
print("Female records:", female_records)

Male records: 676
Female records: 662

## Age-related statistics

In [20]:
male_average_age = male_df['age'].mean()
female_average_age = female_df['age'].mean()

male_max_age = male_df['age'].max()
male_min_age = male_df['age'].min()

female_max_age = female_df['age'].max()
female_min_age = female_df['age'].min()

print(f"Male average age ~", round(male_average_age, 1))
print(f"Female average age ~", round(female_average_age, 1))
print('================================')

print(f"Max male age", male_max_age)
print(f"Min male age", male_min_age)
print(f"Max female age", female_max_age)
print(f"Min female age", female_min_age)

Male average age ~ 38.9
Female average age ~ 39.5
================================
Max male age 64
Min male age 18
Max female age 64
Min female age 18

## Smokers

In [57]:
male_smokers = male_df[male_df['smoker'] == 'yes']
female_smokers = female_df[female_df['smoker'] == 'yes']


male_smokers_count = len(male_smokers)
female_smokers_count = len(female_smokers)

smoker_df = pd.concat([male_smokers, female_smokers])

print("Male smokers:", male_smokers_count)
print("Female smokers:",female_smokers_count)

Male smokers: 159
Female smokers: 115

# Percentage of smokers

In [65]:
total_smokers = len(smoker_df)
percentage_smokers = total_smokers / len(df) * 100
print("Percentage of smokers:", round(percentage_smokers, 2))

male_smokers_percentage = male_smokers_count / len(male_df) * 100
female_smokers_percentage = female_smokers_count / len(female_df) * 100

print("Percantage of male smokers:", round(male_smokers_percentage, 2))
print("Percantage of female smokers:", round(female_smokers_percentage, 2))

Percentage of smokers: 20.48
Percantage of male smokers: 23.52
Percantage of female smokers: 17.37